.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.textArea {
    margin-left: auto;
    margin-right: auto;
    margin-top: 300;
}

.colorRed {
    color: red;
}