.containerself {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.textArea {
    margin-left: auto;
    margin-right: auto;
    margin-top: 300;
}

.colorRed {
    color: red;
}

.button {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    margin-top: 20px;
}

.something {
    width: 100px;
    height: 50px;
    background-color: aqua;
    border-radius: 20px;
    margin-top: 20px;
}

.containButton {
    justify-content: center;
    align-content: center;
}

.startbutton {
    width: 120px;
    height: 50px;
    background-color: green;
    color: white;
    margin-top: 40px;
    border-radius: 20px;
}

.stopbutton {
    width: 120px;
    height: 50px;
    background-color: red;
    color: white;
    margin-top: 40px;
    border-radius: 20px;
}